/* ****** IMPORT POLICES ****** */
@import "https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css";


/* ****** VARIABLES COLOR ****** */
$bleu: #4bcaff;
$gris: #515f67;
$grisFonce: #353f46;

/* ****** GENERAL ****** */

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

// DEBUT
body {

    /* *************** HEADER ****************** */

    #hero {
        width: 100%;
        height: 800px;
        background: url("../images/background_hero.jpg") no-repeat fixed;
        background-size: cover;
        // filter: grayscale(100%); (image en noir et blanc)

        /* *** Barre de navigation *** */
        #navbar {
            height: 150px;
            background-color: rgba(62, 73, 80, 0.8);
            // position: fixed;

            #logo {
                font-family: 'Segoe UI Bold';
                color: white;
                font-weight: bold;
                font-size: 30px;

                span {
                    font-family: 'Segoe UI Bold';
                    color: $bleu;

                }
            }

            #navbarNav {
                justify-content: flex-end;
                font-size: 14px;

                ul {
                    li {
                        font-family: 'Segoe UI Bold';
                        padding-left: 27px;
                    }
                }

                a {
                    color: white;
                    border: 2px transparent solid;
                }

                a:hover {
                    color: $bleu;
                    border: 2px $bleu solid;

                    // transition: border 0.5s;
                    @media screen and(max-width: 768px) {
                        border: none;
                    }
                }
            }
        }

        /* *** Section HERO *** */
        #section_hero {
            #title {
                text-align: center;
                padding-top: 250px; //400px navbar position fixed

                @media screen and(max-width: 768px) {
                    padding-top: 200px;
                }

                .haut {
                    padding: 0% 22% 0% 22%;

                    @media screen and(max-width: 768px) {
                        padding: 0;
                    }

                    h1 {
                        font-family: 'Segoe UI Light';
                        color: white;
                        background-color: rgba(62, 73, 80, 0.8);
                        padding: 1% 0% 1% 0%;
                        letter-spacing: -1px;

                        span {
                            font-style: italic;
                            padding-right: 7px;
                        }
                    }
                }

                .bas {
                    padding: 0% 10% 0% 10%;

                    @media screen and(max-width: 768px) {
                        padding: 0;
                    }

                    h1 {
                        font-family: 'Segoe UI Light';
                        color: white;
                        background-color: rgba(62, 73, 80, 0.8);
                        padding: 1% 0% 1% 0%;
                        letter-spacing: -1px;

                        span {
                            font-style: italic;
                            padding-right: 7px;
                        }
                    }
                }
            }
        }
    }

    /* *************** MAIN ****************** */
    main {

        /* *** Section SERVICES *** */
        #services {
            background-color: $bleu;
            color: white;

            .container {
                padding: 80px 0;

                .row {
                    .titre {
                        h2 {
                            font-family: 'Segoe UI Light';
                            font-weight: lighter;
                            font-size: 30px;
                        }

                        .bordure {
                            border-top: 3px white solid;
                            width: 45px;
                            margin-top: -5px;
                        }

                        .small_underline {
                            border-top: 2px white solid;
                            width: 45px;
                            display: block;
                        }

                        .small_underline--black {
                            border-top-color: black;
                        }

                        .title--black {
                            color: black;
                        }

                    }
                }

                .row {

                    img {
                        margin: 30px 0 20px 0;
                    }

                    h3 {
                        font-family: 'Segoe UI Semibold';
                        font-size: 24px;
                        font-weight: 500;
                        padding-bottom: 5px;
                    }

                    p {
                        font-family: 'Segoe UI Semibold';
                        font-size: 12px;
                    }

                }
            }
        }

        /* *** Section PORTFOLIO *** */
        section {
            #navbar_portfolio {
                .container {
                    padding: 80px 0;

                    .titre {
                        h2 {
                            font-family: 'Segoe UI Light';
                            color: $gris;
                            // font-weight: lighter;
                            font-size: 30px;
                        }

                        .bordure {
                            border-top: 3px #515f67 solid;
                            margin-right: 71%;
                            margin-left: 2%;
                            margin-top: -12px;
                        }
                    }
                }

                #menu_portfolio {
                    color: $gris;
                    justify-content: flex-end;
                    font-size: 14px;

                    ul {
                        li {
                            font-family: 'Segoe UI Bold';
                            font-weight: bold;
                            padding-left: 27px;
                            cursor: pointer;
                        }
                    }
                }

                a {
                    color: $gris;
                    border: 2px transparent solid;
                }

                a:hover {
                    border: 2px $bleu solid;
                    color: $bleu;
                }
            }

            #portfolio {
                .container {
                    padding-bottom: 80px;

                    .row {
                        display: flex;
                        justify-content: center;

                        #panoramas {
                            padding-right: 20px;

                            #autoroute {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }

                            #foret {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }
                        }

                        #portraits {
                            padding-right: 20px;

                            #pont {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }

                            #surfer {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }
                        }

                        #macro {
                            padding-right: 20px;

                            #rochers {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }

                            #montagne {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }
                        }

                        #journal {
                            @media screen and(max-width: 992px) {
                                padding-right: 20px;
                            }

                            #arbre {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }

                            #neige {
                                width: 100%;
                                // height: 270px;
                                // width: 270px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }

        /* Test hover + */
        .container-img {
            position: relative;
        }

        .container-img_hover {
            width: 270px;
            height: 270px;
            text-align: center;
            line-height: 270px;
            color: white;
            font-size: 4.7rem;
            opacity: 0;
            background-color: rgba(0, 0, 0, .42);
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .800s linear;
        }

        .container-img:hover .container-img_hover {
            opacity: 1;
            transition: opacity .800s linear;
            cursor: pointer;
        }

        /* *** Section SECTION *** */
        #section {
            background-color: $gris;

            // @media screen and(max-width: 1200px) {
            //     display: none;
            // }

            .container {

                .row {

                    .titre {
                        padding: 75px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        h2 {
                            font-family: 'Segoe UI Light';
                            font-size: 30px;
                            color: white;
                            font-weight: lighter;
                        }

                        .bordure {
                            width: 45px;
                            border-top: 3px white solid;
                            margin-top: -25px;
                        }

                        p {
                            font-family: 'Segoe UI';
                            color: white;
                            font-size: 14px;
                            padding-right: 16%;

                        }

                        button {
                            margin-left: 0%;
                            margin-right: 76%;
                            border-radius: inherit;
                            display: inline-block;
                            font-weight: 400;
                            color: $grisFonce;
                            text-align: center;
                            vertical-align: middle;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            border: 2px solid #353f46;
                            padding: 0.375rem 0.75rem;
                            font-family: 'Segoe UI Bold';
                            font-size: 14px;
                            line-height: 1.5;
                            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                            @media screen and(max-width: 992px) {
                                margin: 0 40%;

                            }
                        }
                    }

                    .video {
                        max-width: 560px;
                        padding: 80px 0;

                        // @media screen and(max-width: 1200px) {
                        //     display: none;
                        // }
                    }
                }
            }
        }

        /* *** Section TWITTER *** */
        #twitter {
            background-color: $bleu;

            .container {
                padding: 75px 0;

                .titre {
                    .icon {
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            font-family: 'Segoe UI Light';
                            font-size: 30px;
                            color: white;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            :hover {
                                color: $gris;
                            }

                            i {
                                color: white;
                            }
                        }
                    }
                }

                .row {
                    .bordure {
                        border-top: 3px white solid;
                        width: 45px;
                        margin-top: -5px;
                        margin-left: 15px;
                    }
                }

                .text {
                    padding-left: 14px;
                    padding-top: 25px;

                    p {
                        font-size: 28px;
                        color: white;
                        font-family: 'Segoe UI Light';
                    }

                    span {
                        font-size: 28px;
                        color: white;
                        font-family: 'Segoe UI Bold';
                    }
                }
            }
        }
    }

    /* *** Section WHO_IS *** */
    #who_is {
        width: 100%;
        background: url("../images/background_photographe.jpg") no-repeat fixed;
        background-size: cover;
        background-position: center;

        .container {
            padding: 100px 0 170px 0;

            .row {
                .titre {
                    margin-bottom: 0;

                    h2 {
                        font-family: 'Segoe UI Light';
                        font-size: 30px;
                        color: white;
                    }

                    .bordure {
                        border-top: 3px white solid;
                        width: 45px;
                    }
                }
            }

            .text_icons {
                padding-top: 30px;

                .text {
                    @media screen and(max-width: 768px) {
                        text-align: center;
                    }

                    p {
                        font-size: 14px;
                        color: white;
                    }
                }

                .icons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-size: 14px;
                        color: white;

                        @media screen and(max-width: 768px) {
                            text-align: center;

                        }
                    }

                    ul {
                        list-style-type: none;
                        display: flex;
                        justify-content: flex-start;

                        @media screen and(max-width: 768px) {
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                        }

                        li {
                            margin-right: 2%;

                            button {
                                border: 2px white solid;
                                background-color: transparent;
                                border-radius: inherit;
                                border-color: white;

                                i {
                                    color: white;
                                }

                                .twitter:hover {
                                    color: $bleu;
                                }

                                .google:hover {
                                    color: red;
                                }

                                .dribbble:hover {
                                    color: rgb(179, 41, 64);
                                }

                                .coffee:hover {
                                    color: black;
                                }
                            }

                            button:hover {

                                background-color: $gris;
                            }
                        }
                    }
                }
            }
        }
    }

    /* *** Section TESTIMONIALS *** */
    #testimonials {
        .container {
            padding: 80px 0;

            .row {
                .titre {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        color: $gris;
                        font-family: 'Segoe UI Light';
                        font-size: 30px
                    }

                    .quote {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .row {
                margin-right: 0 !important;

                .bordure {
                    width: 45px;
                    border-top: 2px #353f46 solid;
                    margin-left: 15px;
                    margin-top: -3px;
                }
            }

            .row {

                .text {
                    padding-top: 25px;
                    font-family: 'Segoe UI Light';
                    color: $gris;
                    font-size: 28px
                }
            }

            .row {
                .author {
                    p {
                        padding-top: 10px;
                        font-family: 'Segoe UI Bold';
                        font-size: 14px;
                        color: $bleu;
                    }

                }
            }
        }
    }

    /* *** Section CONTACT *** */
    #errorFormulaire {
        color: red;
    }

    #contact {
        width: 100%;
        background: url("../images/background_contact.jpg") no-repeat fixed;
        background-size: cover;

        .container {
            padding: 80px 0;

            .row {
                .titre {
                    margin-bottom: 0;

                    h2 {
                        font-family: 'Segoe UI Light';
                        color: white;
                        font-size: 30px;
                    }

                    .bordure {
                        border-bottom: 2px white solid;
                        width: 45px;
                    }
                }
            }

            .row {
                padding-top: 30px;

                @media screen and(max-width: 992px) {
                    display: flex;
                    justify-content: center;
                }

                .form {
                    @media screen and(max-width: 992px) {
                        width: 100%;
                    }

                    #formEnregistrer {
                        .fullname {
                            label {
                                font-family: 'Segoe UI Bold';
                                font-size: 14px;
                                color: white;
                            }

                            #fullname {
                                height: 60px;
                                display: block;
                                width: 100%;
                                border-radius: 0;
                                background-color: transparent;
                                background-clip: padding-box;
                                border: 2px solid white;
                                color: white;

                            }

                            #errorFullname {
                                font-weight: bold;
                                padding-right: 125px;
                                padding-bottom: 6px;
                                color: $bleu;
                            }
                        }

                        .email {
                            label {
                                font-family: 'Segoe UI Bold';
                                font-size: 14px;
                                color: white;
                            }

                            #email {
                                height: 60px;
                                display: block;
                                width: 100%;
                                border-radius: 0;
                                background-color: transparent;
                                background-clip: padding-box;
                                border: 2px solid white;
                                color: white;
                            }

                            #errorMail {
                                font-weight: bold;
                                padding-right: 125px;
                                padding-bottom: 6px;
                                color: $bleu;
                            }
                        }
                    }
                }

                .text {
                    padding-top: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media screen and(max-width: 992px) {
                        display: none;
                    }

                    p {
                        font-family: 'Segoe UI Semibold';
                        font-size: 14px;
                        color: white;
                    }

                    ul {
                        list-style-type: none;
                        margin-bottom: 0;

                        li {
                            font-family: 'Segoe UI';
                            font-size: 14px;
                            color: white;
                        }
                    }
                }
            }

            .row {
                .form {
                    .message {
                        label {
                            font-family: 'Segoe UI Bold';
                            font-size: 14px;
                            color: white;
                        }

                        #message {
                            display: block;
                            width: 100%;
                            border-radius: 0;
                            background-color: transparent;
                            background-clip: padding-box;
                            border: 2px solid white;
                            color: white;
                        }

                        #errorMessage {
                            font-weight: bold;
                            padding-right: 125px;
                            padding-bottom: 6px;
                            color: $bleu;
                        }
                    }
                }
            }

            .row {
                .submit {
                    button {
                        width: 100%;
                        height: 60px;
                        border-radius: inherit;
                        color: white;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        background-color: $bleu;
                        font-family: 'Segoe UI Bold';
                        font-size: 14px;
                        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    }

                    button:hover {
                        background-color: rgb(84, 141, 247);
                    }
                }
            }
        }   

    }
     /* correction form */

     .msg-error {
        display: none;
        color: red;
        margin-left: 15px;
        font-size: .85rem;

        span {
            display: inline-block;
            background-color: red;
            color: white;
            padding: 5px 8px;
        }
    }
    .msg-error--show{
        display:inline-block;
    }
}

/* *************** FOOTER ****************** */
footer {
    height: 170px;
    background-color: $grisFonce;

    .menu {
        padding: 80px 0;

        .container {
            .row {
                @media screen and(max-width: 768px) {
                    justify-content: center;
                    padding-left: 50px;
                }

                .menu_footer {
                    padding-right: 0px;
                    padding-left: 0px;

                    ul {
                        list-style-type: none;
                        display: flex;
                        justify-content: space-between;


                        .home {
                            padding-left: 0;
                        }

                        li {
                            font-family: 'Segoe UI Semibold';
                            font-size: 12px;
                            color: $gris;
                            border-right: 1px #515f67 solid;
                            height: 5px;
                            padding-right: 20px;
                            padding-left: 20px;
                            padding-bottom: 19px;

                            @media screen and(max-width: 768px) {
                                font-size: 7px;
                            }

                            a {
                                text-decoration: none;
                            }

                            a:hover {
                                color: rgb(27, 27, 27);
                            }
                        }

                        .contact {
                            padding-right: 0;
                            border-right: none;
                        }
                    }
                }

                .annee {
                    padding-right: 0px;
                    display: flex;
                    justify-content: flex-end;

                    @media screen and(max-width: 768px) {
                        display: none;
                    }

                    p {
                        font-family: 'Segoe UI Semibold';
                        font-size: 12px;
                        color: $gris;

                    }
                }
            }
        }
    }
}



// END