/* ****** VARIABLES ****** */
/* ****** POLICES ****** */
@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/segoeui.eot");
  src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url("/assets/fonts/segoeui.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/segoeui.woff") format("woff"), url("/assets/fonts/segoeui.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url("/assets/fonts/seguisb.eot");
  src: local("Segoe Semibold"), local("Segoe WP Semibold"), url("/assets/fonts/seguisb.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/seguisb.woff") format("woff"), url("/assets/fonts/seguisb.svg#SegoeUISemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("/assets/fonts/segoeuib.eot");
  src: local("Segoe Bold"), local("Segoe WP Bold"), url("/assets/fonts/segoeuib.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/segoeuib.woff") format("woff"), url("/assets/fonts/segoeuib.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Light";
  src: url("/assets/fonts/segoeuil.eot");
  src: local("Segoe UI Light"), local("Segoe WP Light"), url("/assets/fonts/segoeuil.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/segoeuil.woff") format("woff"), url("/assets/fonts/segoeuil.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ****** STYLES GENERALS ****** */
* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  /* *************** HEADER ****************** */
  /* *************** MAIN ****************** */
  /* *************** FOOTER ****************** */
}
body #hero {
  width: 100%;
  height: 800px;
  background: url("../images/background_hero.jpg") no-repeat fixed;
  background-size: cover;
  /* *** Barre de navigation *** */
  /* *** Section HERO *** */
}
body #hero #navbar {
  height: 150px;
  background-color: rgba(62, 73, 80, 0.8);
}
body #hero #navbar #logo {
  font-family: "Segoe UI Bold";
  color: white;
  font-weight: bold;
  font-size: 30px;
}
body #hero #navbar #logo span {
  font-family: "Segoe UI Bold";
  color: #4bcaff;
}
body #hero #navbar #navbarNav {
  justify-content: flex-end;
  font-size: 14px;
}
body #hero #navbar #navbarNav ul li {
  font-family: "Segoe UI Bold";
  font-weight: bold;
  padding-left: 27px;
}
body #hero #navbar #navbarNav ul a:hover {
  color: #4bcaff;
}
body #hero #navbar a {
  color: white;
}
body #hero #section_hero #title {
  text-align: center;
  padding: 250px 0;
}
body #hero #section_hero #title .haut {
  padding: 0% 22% 0% 22%;
}
body #hero #section_hero #title .haut h1 {
  font-family: "Segoe UI Light";
  color: white;
  background-color: rgba(62, 73, 80, 0.8);
  padding: 1% 0% 1% 0%;
  letter-spacing: -1px;
}
body #hero #section_hero #title .haut h1 span {
  font-style: italic;
  padding-right: 7px;
}
body #hero #section_hero #title .bas {
  padding: 0% 10% 0% 10%;
}
body #hero #section_hero #title .bas h1 {
  font-family: "Segoe UI Light";
  color: white;
  background-color: rgba(62, 73, 80, 0.8);
  padding: 1% 0% 1% 0%;
  letter-spacing: -1px;
}
body #hero #section_hero #title .bas h1 span {
  font-style: italic;
  padding-right: 7px;
}
body main {
  /* *** Section SERVICES *** */
  /* *** Section PORTFOLIO *** */
  /* *** Section SECTION *** */
  /* *** Section TWITTER *** */
  /* *** Section WHO_IS *** */
  /* *** Section TESTIMONIALS *** */
  /* *** Section CONTACT *** */
}
body main #services {
  background-color: #4bcaff;
  color: white;
}
body main #services .container {
  padding: 80px 0;
}
body main #services .container .row .titre h2 {
  font-family: "Segoe UI Light";
  font-weight: lighter;
  font-size: 30px;
}
body main #services .container .row .titre .bordure {
  border-top: 3px white solid;
  margin-right: 96%;
  margin-top: -4px;
}
body main #services .container .row img {
  padding: 30px 0 20px 0;
}
body main #services .container .row h3 {
  font-family: "Segoe UI Semibold";
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
}
body main #services .container .row p {
  font-family: "Segoe UI Semibold";
  font-size: 12px;
}
body main section #navbar_portfolio .container {
  padding: 80px 0;
}
body main section #navbar_portfolio .container .titre h2 {
  font-family: "Segoe UI Light";
  color: #515f67;
  font-weight: lighter;
  font-size: 30px;
}
body main section #navbar_portfolio .container .titre .bordure {
  border-top: 3px #515f67 solid;
  margin-right: 71%;
  margin-left: 2%;
  margin-top: -12px;
}
body main section #navbar_portfolio #menu_portfolio {
  color: #515f67;
  justify-content: flex-end;
  font-size: 14px;
}
body main section #navbar_portfolio #menu_portfolio ul li {
  font-family: "Segoe UI Bold";
  font-weight: bold;
  padding-left: 27px;
}
body main section #navbar_portfolio a {
  color: #515f67;
}
body main section #portfolio .container {
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}
body main section #portfolio .container .row {
  padding-bottom: 30px;
}
body main section #portfolio .container .row div img {
  height: 270px;
  width: 270px;
}
body main #section {
  background-color: #515f67;
}
body main #section .container .row .titre {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #section .container .row .titre h2 {
  font-family: "Segoe UI Light";
  font-size: 30px;
  color: white;
  font-weight: lighter;
}
body main #section .container .row .titre .bordure {
  border-top: 3px white solid;
  margin-right: 92%;
  margin-top: -35px;
}
body main #section .container .row .titre p {
  margin-bottom: -8px;
  padding-right: 19%;
  font-family: "Segoe UI";
  color: white;
  font-size: 14px;
}
body main #section .container .row .titre button {
  margin-left: 0%;
  margin-right: 76%;
  border-radius: inherit;
  display: inline-block;
  font-weight: 400;
  color: #353f46;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #353f46;
  padding: 0.375rem 0.75rem;
  font-family: "Segoe UI Bold";
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
body main #section .container .row .video {
  max-width: 560px;
  padding: 80px 0;
}
body main #twitter {
  background-color: #4bcaff;
}
body main #twitter .container {
  padding: 75px 0;
}
body main #twitter .container .titre .icon {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
body main #twitter .container .titre .icon h2 {
  font-family: "Segoe UI Light";
  font-size: 30px;
  color: white;
}
body main #twitter .container .titre .icon i {
  color: white;
  display: flex;
  align-items: center;
}
body main #twitter .container .row .bordure {
  border-top: 2px #515f67 solid;
}
body main #twitter .container .text1 p {
  font-size: 28px;
  color: white;
  font-family: "Segoe UI Light";
}
body main #twitter .container .text2 p {
  font-size: 28px;
  color: white;
  font-family: "Segoe UI Light";
}
body main #twitter .container .text2 span {
  font-size: 28px;
  color: white;
  font-family: "Segoe UI Bold";
}
body main #who_is {
  width: 100%;
  height: 500px;
  background: url("../images/background_photographe.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
}
body main #who_is .container {
  padding: 100px 0 170px 0;
}
body main #who_is .container .row .titre h2 {
  font-family: "Segoe UI Light";
  font-size: 30px;
  color: white;
}
body main #who_is .container .row .bordure {
  border-top: 2px white solid;
}
body main #who_is .container .row .text p {
  font-size: 14px;
  color: white;
}
body main #who_is .container .row .text_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 27px;
}
body main #who_is .container .row .text_icons p {
  font-size: 14px;
  color: white;
}
body main #who_is .container .row .text_icons ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
body main #who_is .container .row .text_icons ul li {
  margin-right: 2%;
}
body main #who_is .container .row .text_icons ul li button {
  border: 2px white solid;
  background-color: transparent;
  border-radius: inherit;
  border-color: white;
}
body main #who_is .container .row .text_icons ul li button i {
  color: white;
}
body main #who_is .container .row .text_icons ul li button .twitter:hover {
  color: #4bcaff;
}
body main #who_is .container .row .text_icons ul li button .google:hover {
  color: red;
}
body main #who_is .container .row .text_icons ul li button .dribbble:hover {
  color: #b32940;
}
body main #who_is .container .row .text_icons ul li button .coffee:hover {
  color: black;
}
body main #who_is .container .row .text_icons ul li button:hover {
  background-color: #515f67;
}
body main #testimonials .container {
  padding: 80px 0;
}
body main #testimonials .container .row .titre {
  display: flex;
  justify-content: space-between;
}
body main #testimonials .container .row .titre h2 {
  color: #515f67;
  font-family: "Segoe UI Light";
  font-size: 30px;
}
body main #testimonials .container .row .titre .quote {
  display: flex;
  align-items: center;
}
body main #testimonials .container .row {
  margin-right: 0 !important;
}
body main #testimonials .container .row .bordure {
  width: 43px;
  border-top: 2px #353f46 solid;
  top: -5px;
  left: 16px;
}
body main #testimonials .container .row .text {
  font-family: "Segoe UI Light";
  color: #515f67;
  font-size: 28px;
}
body main #testimonials .container .row .author p {
  font-family: "Segoe UI Bold";
  font-size: 14px;
  color: #4bcaff;
}
body main #contact {
  width: 100%;
  height: 815px;
  background: url("../images/background_contact.jpg") no-repeat fixed;
  background-size: cover;
}
body main #contact .container {
  padding: 80px 0;
}
body main #contact .container .row .titre h2 {
  font-family: "Segoe UI Light";
  color: white;
}
body main #contact .container .row .text p {
  font-family: "Segoe UI Semibold";
  font-size: 14px;
  color: white;
}
body main #contact .container .row .text ul {
  list-style-type: none;
}
body main #contact .container .row .text ul li {
  font-family: "Segoe UI";
  font-size: 14px;
  color: white;
}
body footer {
  height: 170px;
  background-color: #353f46;
}
body footer .menu {
  padding: 80px 0;
}
body footer .menu .container .row .menu_footer {
  padding-right: 0px;
  padding-left: 0px;
}
body footer .menu .container .row .menu_footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
body footer .menu .container .row .menu_footer ul .home {
  padding-left: 0;
}
body footer .menu .container .row .menu_footer ul li {
  font-family: "Segoe UI Semibold";
  font-size: 12px;
  color: #515f67;
  border-right: 1px #515f67 solid;
  height: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 19px;
}
body footer .menu .container .row .menu_footer ul li a {
  text-decoration: none;
}
body footer .menu .container .row .menu_footer ul li a:hover {
  color: white;
}
body footer .menu .container .row .menu_footer ul .contact {
  padding-right: 0;
  border-right: none;
}
body footer .menu .container .row .annee {
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
}
body footer .menu .container .row .annee p {
  font-family: "Segoe UI Semibold";
  font-size: 12px;
  color: #515f67;
}

/*# sourceMappingURL=style.css.map */
