/* ****** VARIABLES ****** */
$bleu: #4bcaff;
$gris: #515f67;
$grisFonce: #353f46;

/* ****** POLICES ****** */
@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/fonts/segoeui.eot');
    src: local("Segoe UI"),
        local("Segoe"),
        local("Segoe WP"),
        url('/assets/fonts/segoeui.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/segoeui.woff') format('woff'),
        url('/assets/fonts/segoeui.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('/assets/fonts/seguisb.eot');
    src: local("Segoe Semibold"),
        local("Segoe WP Semibold"),
        url('/assets/fonts/seguisb.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/seguisb.woff') format('woff'),
        url('/assets/fonts/seguisb.svg#SegoeUISemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('/assets/fonts/segoeuib.eot');
    src: local("Segoe Bold"),
        local("Segoe WP Bold"),
        url('/assets/fonts/segoeuib.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/segoeuib.woff') format('woff'),
        url('/assets/fonts/segoeuib.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('/assets/fonts/segoeuil.eot');
    src: local("Segoe UI Light"),
        local("Segoe WP Light"),
        url('/assets/fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/segoeuil.woff') format('woff'),
        url('/assets/fonts/segoeuil.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ****** GENERAL ****** */
* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

// DEBUT
body {

    /* *************** HEADER ****************** */

    #hero {
        width: 100%;
        height: 800px;
        background: url("../images/background_hero.jpg") no-repeat fixed;
        background-size: cover;
        // filter: grayscale(100%); (image en noir et blanc)

        /* *** Barre de navigation *** */
        #navbar {
            height: 150px;
            background-color: rgba(62, 73, 80, 0.8);
            // position: fixed;

            #logo {
                font-family: 'Segoe UI Bold';
                color: white;
                font-weight: bold;
                font-size: 30px;

                span {
                    font-family: 'Segoe UI Bold';
                    color: $bleu;

                }
            }

            #navbarNav {
                justify-content: flex-end;
                font-size: 14px;

                ul {
                    li {
                        font-family: 'Segoe UI Bold';
                        padding-left: 27px;

                    }
                }

                a {
                    color: white;
                }

                a:hover {
                    color: $bleu;
                    border: 2px $bleu solid;

                    // transition: border 0.5s;
                    @media screen and(max-width: 768px) {
                        border: none;
                    }
                }
            }
        }

        /* *** Section HERO *** */
        #section_hero {
            #title {
                text-align: center;
                padding: 250px 0; //400px navbar position fixed

                .haut {
                    padding: 0% 22% 0% 22%;

                    h1 {
                        font-family: 'Segoe UI Light';
                        color: white;
                        background-color: rgba(62, 73, 80, 0.8);
                        padding: 1% 0% 1% 0%;
                        letter-spacing: -1px;

                        span {
                            font-style: italic;
                            padding-right: 7px;
                        }
                    }
                }

                .bas {
                    padding: 0% 10% 0% 10%;

                    h1 {
                        font-family: 'Segoe UI Light';
                        color: white;
                        background-color: rgba(62, 73, 80, 0.8);
                        padding: 1% 0% 1% 0%;
                        letter-spacing: -1px;

                        span {
                            font-style: italic;
                            padding-right: 7px;
                        }
                    }
                }
            }
        }
    }

    /* *************** MAIN ****************** */
    main {

        /* *** Section SERVICES *** */
        #services {
            background-color: $bleu;
            color: white;

            .container {
                padding: 80px 0;

                .row {
                    .titre {
                        h2 {
                            font-family: 'Segoe UI Light';
                            font-weight: lighter;
                            font-size: 30px;
                        }

                        .bordure {
                            border-top: 3px white solid;
                            margin-right: 94%;
                            margin-top: -4px;
                        }
                    }
                }

                .row {
                    .col-3 {
                        img {
                            padding: 30px 0 20px 0;
                        }

                        h3 {
                            font-family: 'Segoe UI Semibold';
                            font-size: 24px;
                            font-weight: 500;
                            padding-bottom: 5px;
                        }

                        p {
                            font-family: 'Segoe UI Semibold';
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        /* *** Section PORTFOLIO *** */
        section {
            #navbar_portfolio {
                .container {
                    padding: 80px 0;

                    .titre {
                        h2 {
                            font-family: 'Segoe UI Light';
                            color: $gris;
                            font-weight: lighter;
                            font-size: 30px;
                        }

                        .bordure {
                            border-top: 3px #515f67 solid;
                            margin-right: 71%;
                            margin-left: 2%;
                            margin-top: -12px;
                        }
                    }
                }

                #menu_portfolio {
                    color: $gris;
                    justify-content: flex-end;
                    font-size: 14px;

                    ul {
                        li {
                            font-family: 'Segoe UI Bold';
                            font-weight: bold;
                            padding-left: 27px;
                        }
                    }
                }

                a {
                    color: $gris;
                }

                a:hover {
                    border: 2px $bleu solid;
                    color: $bleu;
                }
            }

            #portfolio {
                .container {
                    padding-bottom: 80px;
                    // padding-left: 0;
                    padding-right: 0;

                    .ligne1 {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 30px;
                        // padding-right: 30px;

                        @media screen and(max-width: 768px) {
                            padding-right: 30px;
                            display: flex;
                            justify-content: center;
                        }

                        div {
                            img {
                                padding-right: 0;                           
                                height: 270px;
                                width: 270px;

                            }
                        }
                    }

                    .ligne2 {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 30px;
                        // padding-right: 30px;

                        @media screen and(max-width: 768px) {
                            padding-right: 30px;
                            display: flex;
                            justify-content: center;
                        }


                        div {
                            img {
                                height: 270px;
                                width: 270px;

                            }
                        }
                    }
                }
            }
        }

        /* *** Section SECTION *** */
        #section {
            background-color: $gris;

            .container {

                .row {
                    .titre {
                        padding: 75px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        h2 {
                            font-family: 'Segoe UI Light';
                            font-size: 30px;
                            color: white;
                            font-weight: lighter;
                        }

                        .bordure {
                            width: 45px;
                            border-top: 3px white solid;
                        }

                        p {
                            padding-top: 34px;
                            padding-right: 19%;
                            font-family: 'Segoe UI';
                            color: white;
                            font-size: 14px;
                        }

                        button {
                            margin-left: 0%;
                            margin-right: 76%;
                            border-radius: inherit;
                            display: inline-block;
                            font-weight: 400;
                            color: $grisFonce;
                            text-align: center;
                            vertical-align: middle;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            // background-color: transparent;
                            border: 2px solid #353f46;
                            padding: 0.375rem 0.75rem;
                            font-family: 'Segoe UI Bold';
                            font-size: 14px;
                            line-height: 1.5;
                            // border-radius: 0.25rem;
                            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        }
                    }

                    .video {
                        max-width: 560px;
                        padding: 80px 0;

                        @media screen and(max-width: 992px) {
                            display: none;
                        }
                    }
                }
            }
        }

        /* *** Section TWITTER *** */
        #twitter {
            background-color: $bleu;

            .container {
                padding: 75px 0;

                .titre {
                    .icon {
                        // padding-right: 0;
                        // padding-left: 0;
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            font-family: 'Segoe UI Light';
                            font-size: 30px;
                            color: white;
                        }

                        i {
                            color: white;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .row {
                    .bordure {
                        border-top: 2px #515f67 solid;

                    }
                }

                .text1 {
                    p {
                        font-size: 28px;
                        color: white;
                        font-family: 'Segoe UI Light';
                    }
                }

                .text2 {
                    p {
                        font-size: 28px;
                        color: white;
                        font-family: 'Segoe UI Light';
                    }

                    span {
                        font-size: 28px;
                        color: white;
                        font-family: 'Segoe UI Bold';
                    }

                }

            }
        }

        /* *** Section WHO_IS *** */
        #who_is {
            width: 100%;
            background: url("../images/background_photographe.jpg") no-repeat fixed;
            background-size: cover;
            background-position: center;

            .container {
                padding: 100px 0 170px 0;

                .row {
                    .titre {
                        margin-bottom: 0;

                        h2 {
                            font-family: 'Segoe UI Light';
                            font-size: 30px;
                            color: white;
                        }

                        .bordure {
                            border-top: 3px white solid;
                            width: 17%;
                        }
                    }
                }

                .row {
                    padding-top: 30px;

                    .text {
                        p {
                            font-size: 14px;
                            color: white;
                        }
                    }

                    .text_icons {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        p {
                            font-size: 14px;
                            color: white;
                        }

                        ul {
                            list-style-type: none;
                            display: flex;
                            justify-content: flex-start;

                            li {
                                margin-right: 2%;

                                button {
                                    border: 2px white solid;
                                    background-color: transparent;
                                    border-radius: inherit;
                                    border-color: white;

                                    i {
                                        color: white;
                                    }

                                    .twitter:hover {
                                        color: $bleu;
                                    }

                                    .google:hover {
                                        color: red;
                                    }

                                    .dribbble:hover {
                                        color: rgb(179, 41, 64);
                                    }

                                    .coffee:hover {
                                        color: black;
                                    }
                                }

                                button:hover {

                                    background-color: $gris;
                                }

                            }
                        }
                    }
                }
            }
        }

        /* *** Section TESTIMONIALS *** */
        #testimonials {
            .container {
                padding: 80px 0;

                .row {
                    .titre {
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            color: $gris;
                            font-family: 'Segoe UI Light';
                            font-size: 30px
                        }

                        .quote {
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .row {
                    margin-right: 0 !important;

                    .bordure {
                        width: 43px;
                        border-top: 2px #353f46 solid;
                        top: -5px;
                        left: 16px;

                    }
                }

                .row {
                    .text {
                        font-family: 'Segoe UI Light';
                        color: $gris;
                        font-size: 28px
                    }
                }

                .row {
                    .author {
                        p {
                            font-family: 'Segoe UI Bold';
                            font-size: 14px;
                            color: $bleu;
                        }

                    }
                }
            }
        }

        /* *** Section CONTACT *** */
        #contact {
            width: 100%;
            background: url("../images/background_contact.jpg") no-repeat fixed;
            background-size: cover;

            .container {
                padding: 80px 0;

                .row {
                    .titre {
                        margin-bottom: 0;

                        h2 {
                            font-family: 'Segoe UI Light';
                            color: white;
                            font-size: 30px;
                        }

                        .bordure {
                            border-bottom: 2px white solid;
                            width: 4%;
                        }
                    }
                }

                .row {
                    padding-top: 30px;

                    .form {
                        form {
                            .fullname {
                                label {
                                    font-family: 'Segoe UI Bold';
                                    font-size: 14px;
                                    color: white;
                                }

                                #inputFullname {
                                    height: 60px;
                                    display: block;
                                    width: 100%;
                                    border-radius: 0;
                                    background-color: transparent;
                                    background-clip: padding-box;
                                    border: 2px solid white;
                                }
                            }

                            .email {
                                label {
                                    font-family: 'Segoe UI Bold';
                                    font-size: 14px;
                                    color: white;
                                }

                                #inputMail {
                                    height: 60px;
                                    display: block;
                                    width: 100%;
                                    border-radius: 0;
                                    background-color: transparent;
                                    background-clip: padding-box;
                                    border: 2px solid white;
                                }
                            }
                        }
                    }

                    .text {
                        padding-top: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        p {
                            font-family: 'Segoe UI Semibold';
                            font-size: 14px;
                            color: white;
                        }

                        ul {
                            list-style-type: none;
                            margin-bottom: 0;

                            li {
                                font-family: 'Segoe UI';
                                font-size: 14px;
                                color: white;
                            }
                        }
                    }
                }

                .row {
                    .form {
                        form {
                            .message {
                                label {
                                    font-family: 'Segoe UI Bold';
                                    font-size: 14px;
                                    color: white;
                                }

                                #inputMessage {
                                    height: 220px;
                                    display: block;
                                    width: 100%;
                                    border-radius: 0;
                                    background-color: transparent;
                                    background-clip: padding-box;
                                    border: 2px solid white;
                                }
                            }
                        }
                    }
                }

                .row {
                    .submit {
                        form {
                            button {
                                width: 100%;
                                height: 60px;
                                border-radius: inherit;
                                color: white;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                background-color: $bleu;
                                border: 2px solid $bleu;
                                font-family: 'Segoe UI Bold';
                                font-size: 14px;
                                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            }

                            button:hover {
                                background-color: aquamarine;
                            }
                        }
                    }
                }
            }
        }
    }

    /* *************** FOOTER ****************** */
    footer {
        height: 170px;
        background-color: $grisFonce;

        .menu {
            padding: 80px 0;

            .container {
                .row {
                    .menu_footer {
                        padding-right: 0px;
                        padding-left: 0px;

                        ul {
                            list-style-type: none;
                            display: flex;
                            justify-content: space-between;

                            .home {
                                padding-left: 0;
                            }

                            li {
                                font-family: 'Segoe UI Semibold';
                                font-size: 12px;
                                color: $gris;
                                border-right: 1px #515f67 solid;
                                height: 5px;
                                padding-right: 20px;
                                padding-left: 20px;
                                padding-bottom: 19px;

                                a {
                                    text-decoration: none;
                                }

                                a:hover {
                                    color: rgb(27, 27, 27);
                                }
                            }

                            .contact {
                                padding-right: 0;
                                border-right: none;
                            }
                        }
                    }

                    .annee {
                        padding-right: 0px;
                        display: flex;
                        justify-content: flex-end;

                        p {
                            font-family: 'Segoe UI Semibold';
                            font-size: 12px;
                            color: $gris;
                        }
                    }
                }
            }
        }
    }
}

// END